.pop{
    top: 10%;
    position: fixed;
    justify-content: center;
    left: 25%;
    height: 80%;
    width: 60%;
    border: 1px solid black;
    background-color: white;
    z-index: 1; 
    line-height: 5px;
}

.image{
    margin-top: 40px;
    width: 100%;
    height: 90%;
}